
#parent{
    display:grid;
    background-color: aquamarine;
    /* grid-template-columns: 200px 50px 50px; */
    grid-template-columns: repea(3,1fr);
    column-gap: 15px;
    gap:20px 25px;
    padding:20px;
    border-radius: 15px;
    
}
.child{
    background-color: rgb(51, 132, 147);
    /* background-color: bisque; */

}

.child4{
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: rgb(170, 140, 84);
}
.child1{
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: rgb(156, 120, 120);
}

.child5{
    grid-column-start: 1;
    grid-column-end: 4; 
    background-color: rgb(68, 90, 47);

}